
<div id="page-overview" class="container-page">
    <section id="resume-profile">
        <div>
            <h3 class="kanit-bold">152</h3>
            <span class="kanit-light">dias treinados</span>
        </div>
        <div>
            <h3 class="kanit-bold">23</h3>
            <span class="kanit-light">dias seguidos</span>
        </div>
        <div>
            <h3 class="kanit-bold">ABCDE</h3>
            <span class="kanit-light">formato treino</span>
        </div>
        <div>
            <h3 class="kanit-bold">81 KG</h3>
            <span class="kanit-light">peso</span>
        </div>
    </section>
</div>