// configuration:
@import './vendors/vendor.scss';

@import './pages/default-pages.scss';

@import './layout/footer.scss';
@import './layout/header.scss';

// fonts:
@import './base/_typography.scss';
@import './base/fonts/_roboto.scss';
@import './base/fonts/kanit.scss';

html, body {
    height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

}

main {
    flex: 1;
}


